In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("S16_R_1_000_000_clean.csv_test.csv", nrows=6250)

In [4]:
df.head(5)

,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,detailed-label
0,807.0,40146,1349307.0,22,1,0,99.000000,99,99,0,99,99,0,19.0,1,40,0,0,1.0,14
1,818.0,18344,1648986.0,52869,1,0,0.000002,0,0,0,99,99,0,19.0,2,80,0,0,1.0,10
2,818.0,40281,448897.0,23,1,0,99.000000,99,99,0,99,99,0,19.0,1,40,0,0,0.0,14
3,807.0,58182,548564.0,22,1,0,99.000000,99,99,0,99,99,0,19.0,1,40,0,0,1.0,14
4,810.0,63420,558619.0,23,1,0,0.000006,0,0,0,99,99,0,19.0,2,80,0,0,1.0,14

In [5]:
#df = df.drop("Unnamed: 0", axis=1)

In [6]:
y = df.iloc[:,-1]

In [7]:
y.shape

(6250,)

In [8]:
y.value_counts()

0     1578
12    1554
14    1525
10    1489
4       42
2       39
1       19
8        2
5        2
Name: detailed-label, dtype: int64

In [9]:
X = df.iloc[:,:-1]

In [10]:
X.shape

(6250, 19)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [12]:
X = pd.DataFrame(X)

In [13]:
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.294244,0.483882,-0.464972,-1.015840,-0.064972,-0.05273,0.714793,-0.025105,0.327781,-0.281957,0.0,0.0,0.0,0.01119,-0.090469,-0.091261,-0.060572,-0.051556,0.247261
1,0.286623,-0.908349,-0.179403,1.242534,-0.064972,-0.05273,-1.361002,-0.025105,-0.723823,-0.281957,0.0,0.0,0.0,0.01119,0.023944,-0.005724,-0.060572,-0.051556,0.247261
2,0.286623,0.492502,-1.322988,-1.015797,-0.064972,-0.05273,0.714793,-0.025105,0.327781,-0.281957,0.0,0.0,0.0,0.01119,-0.090469,-0.091261,-0.060572,-0.051556,-3.975091
3,-0.294244,1.635623,-1.228014,-1.015840,-0.064972,-0.05273,0.714793,-0.025105,0.327781,-0.281957,0.0,0.0,0.0,0.01119,-0.090469,-0.091261,-0.060572,-0.051556,0.247261
4,-0.135826,1.970111,-1.218432,-1.015797,-0.064972,-0.05273,-1.361002,-0.025105,-0.723823,-0.281957,0.0,0.0,0.0,0.01119,0.023944,-0.005724,-0.060572,-0.051556,0.247261

In [14]:
#from sklearn.preprocessing import LabelEncoder
#le = LabelEncoder()
#y = le.fit_transform(y)

In [15]:
y

0       14
1       10
2       14
3       14
4       14
        ..
6245    12
6246    12
6247    14
6248    12
6249     0
Name: detailed-label, Length: 6250, dtype: int64

In [16]:
y.shape

(6250,)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.8, test_size=0.2, random_state=0)

In [18]:
# sau khi chia du lieu test train thi can chuyen du lieu train thanh dang ham thuoc X_train -> U_train, X_test -> U_test

In [19]:
#X_train.to_csv("X_train.csv",header=False, index=False)
#X_test.to_csv("X_test.csv",header=False, index=False)

In [20]:
# chay X_train voi GA_FCM
# chay X_test voi Convert_data voi dau vao la cac tam cua buoc tren

## Sau khi chạy xong GA+FCM với X_train

In [23]:
#trainset = 'U_train.txt'
#testset = 'U_test.txt'

#trainset = './Test_xong_xoa/u1.txt'
#testset = './Test_xong_xoa/u2.txt'

In [24]:
U_train = pd.read_csv("U_train.txt",sep='   ',header=None)
U_test = pd.read_csv("U_test.txt",sep='   ',header=None)

C:\Users\nhath\AppData\Local\Temp\ipykernel_13160\3386983418.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  U_train = pd.read_csv("U_train.txt",sep='   ',header=None)
C:\Users\nhath\AppData\Local\Temp\ipykernel_13160\3386983418.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  U_test = pd.read_csv("U_test.txt",sep='   ',header=None)

In [25]:
U_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.274601,0.224544,0.074288,0.316009,0.123553,0.283235,0.072938,0.094819,0.062183,0.220351,...,0.262411,0.190471,0.173852,0.185951,0.224470,0.320541,0.084166,0.073299,0.101940,0.400259
1,0.291751,0.164850,0.051522,0.100458,0.196646,0.282718,0.756236,0.640040,0.051419,0.187887,...,0.296777,0.174537,0.249510,0.199353,0.173458,0.132417,0.043536,0.725417,0.052423,0.130580
2,0.271680,0.223821,0.082033,0.196136,0.119874,0.274884,0.094521,0.109339,0.054703,0.234568,...,0.272070,0.192063,0.223853,0.205831,0.230883,0.211034,0.081609,0.094466,0.097814,0.272613
3,0.095523,0.198308,0.039681,0.302088,0.531243,0.094863,0.053732,0.130501,0.815559,0.169392,...,0.095030,0.294697,0.177055,0.260560,0.183432,0.236799,0.052284,0.089150,0.065291,0.096697
4,0.066446,0.188477,0.752476,0.085308,0.028684,0.064300,0.022573,0.025301,0.016135,0.187801,...,0.073711,0.148231,0.175730,0.148305,0.187757,0.099209,0.738405,0.017668,0.682533,0.099852

In [26]:
U_train.shape

(5, 5000)

In [27]:
U_test.shape

(5, 1250)

In [28]:
U_train = U_train.values.T
U_test = U_test.values.T

In [29]:
from sklearn.ensemble import RandomForestClassifier
import time
RF = RandomForestClassifier()

In [30]:
start = time.time()
print('program start...')
print()

#fit training data into model
RF.fit(U_train, y_train)
print()

print('prediction:')
y_pred = RF.predict(U_test)
print(y_pred)
print()

print('Score:')
score = RF.score(U_test,y_test)
print(score)

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

program start...


prediction:
[10 10 10 ... 10 12 12]

Score:
0.9016
program end...

time cost:
1.5498535633087158 seconds

In [31]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.82      0.82       307
           1       1.00      0.80      0.89         5
           2       0.83      1.00      0.91         5
           4       1.00      0.33      0.50         9
           5       0.00      0.00      0.00         0
          10       0.98      0.99      0.98       301
          12       1.00      0.98      0.99       328
          14       0.81      0.82      0.82       295

    accuracy                           0.90      1250
   macro avg       0.80      0.72      0.74      1250
weighted avg       0.90      0.90      0.90      1250

C:\Users\nhath\anaconda3\envs\THNlab\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\nhath\anaconda3\envs\THNlab\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\nhath\anaconda3\envs\THNlab\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))